body {
    font-size: 18px;
}

.headergrid {
    padding: 4rem;
    background-color:azure;
    display: grid;
    grid-template-areas: "title socials";
    grid-template-columns: 2fr 1fr;
}

.title {
    grid-area: title;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color:slategrey;
}

.social {
    grid-area: socials;
    display: flex;
    justify-content: end;
    align-items: center;
}

.social a {
    text-decoration: none;
}

.social img {
    max-width: 2rem;
    max-height: 2rem;
    margin: 1rem;
}

article {
    padding: 2rem 4rem;
    font-size: 1rem;
}