@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {  
  --s: 2px; /* control the size*/
  --c1: #190451;
  --c2: #45426b;
  --c3: #14100b;
  --c4: #464646;
  
  background:
    conic-gradient(at 50% calc(100%/6),var(--c1) 60deg,#0000 0),
    conic-gradient(at calc(100%/6) 50%,#0000 240deg,var(--c1) 0),
    conic-gradient(from 180deg at calc(100%/6) calc(500%/6),var(--c1) 60deg,#0000 0),
    conic-gradient(from 180deg at calc(500%/6),#0000 240deg,var(--c1) 0) calc(4*.866*var(--s)) 0,
    repeating-linear-gradient(-150deg,var(--c2) 0 calc(100%/6),#0000   0 50%),
    repeating-linear-gradient(-30deg, var(--c3) 0 calc(100%/6),var(--c4) 0 50%);
  background-size: calc(6*.866*var(--s)) calc(3*var(--s))
}

ol, ul, menu {
    list-style: disc;
}
